html, body {
    background-color: white;
    height: 100%;
    margin: 0;
    padding:0;
    min-width: 400px;
    display:block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#202124;
}
a:link{
    color:black;
}
a:visited{
    color: black;
}
.mainContainer{
    display:flex;
    flex-direction: column;
    height: 100%;
}
.top1{
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}
.top2{
    text-align: center;   
    justify-content: right;
    padding-right: 40px;
}
.top3{
    display: inline-block;
    text-decoration: none;
    line-height: 24px;
    vertical-align: middle;
    padding-left: 15px;
}
.top3:link{
    color: #3c4043;
}
.top4:link{
    font-size: 13px;
    padding: 0 4px;
    flex: 0 0 auto;
}

.logoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);                 // calc(100% - 560px) doesn't work for some reason. 
    // I have fixed the problem by adding html, body { height:100% }
    // But I have to say I don't know why adding height to html worked.
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
    display: block;
}
.logo > img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
}
.searchBar{
    box-sizing: border-box;
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
}
.search{
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}
.arama{
    display: flex;
    z-index: 3;
    height: 44px;
    background-color: #fff;
    border: 1px solid #dfe1dfe5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}
.arama:hover{
    -webkit-box-shadow: 0 0 10px #dfe1dfe5;
        box-shadow: 0 0 10px #dfe1dfe5;
}
.search2 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

element.style {
}
.arama {
    display: flex;
    z-index: 3;
    height: 44px;
    background-color: #fff;
    border: 1px solid #dfe1dfe5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.searchlogo{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.searchlogo > img {
    height: 20px;
    line-height: 20px;
    width: 20px;
    opacity: 0.5;
}
.bar1{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.bar2{
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}
.input1{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgb(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.searchbar-right{
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
    box-sizing: content-box;
}
.keyboard{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
    box-sizing: content-box;
}
.keyboard1{
    background: url('//www.gstatic.com/inputtools/images/tia.png') no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    box-sizing: content-box;
}
.keyboard2{
    background: url('Version2\html\images.html') no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    box-sizing: content-box;
}
.keyboard-icon{
    visibility: hidden;
}
.buttons-section{
    height: 70px;
    padding-top: 18px;
}
center{
    display: block;
    text-align: -webkit-center;
}
%buttons{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-family: arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #3c4043;
    margin:11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;   // I don't know what that is
    user-select: none; // I don't know this neither
}
.button1:hover, .button2:hover{
    border: 1px solid;
    border-color:#dfe1dfe5;
    
    // box-shadow: 5px red;
}

.button1{
    @extend %buttons;
}
.button2{
    @extend %buttons;
}
.images-text{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position:absolute;
    left: 215px;
    // float: left;
    bottom: 0;
    white-space: nowrap;
}
.searchbar-sag-iconlar{
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}
.photo-icon, .microphone-icon, .magnifying-glass-icon{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
}
%icons{
    height: 24px;
    width: 24px;
    background-size: 24px;
    // Normally I could be able to extend the attributes without any complications but 
    // for some reason it makes the icon 4 times bigger.
    // I don't know why
}
.phone-icon-url{
    // @extend %icons;
    background: url('//www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png') 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
}
.microphone-icon-url{
    // @extend %icons;
    background: url('..//images/Google\ microphone\ icon.png') no-repeat center;
    height: 24px;
    width: 24px;
    background-size: 24px;
}
.magnifying-glass-icon-url{
    background: url('../images/pngwing.com.png') no-repeat center;
    height: 24px;
    width: 24px;
    background-size: 24px;
}