html, body {
    background-color: white;
    height: 100%;
    margin: 0;
    padding:0;
    min-width: 400px;
    display:block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#202124;
}
.mainContainer{
    display:flex;
    flex-direction: column;
    height: 100%;
}
.top1{
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}
.top2{
    text-align: center;   
    justify-content: right;
    padding-right: 40px;
}
.top3{
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    padding-left: 15px;
}
.top4{
    font-size: 13px;
    padding: 0 4px;
    flex: 0 0 auto;
}
.top3:hover{
    text-decoration: underline;
}

.logoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);                 // calc(100% - 560px) doesn't work for some reason. 
    // I have fixed the problem by adding html, body { height:100% }
    // But I have to say I don't know why adding height to html worked.
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
    display: block;
}
.logo > img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
}