body{
  background-color: white;
}
#logoText {
  position: relative;
  float:right;
  top: 70px;
  right: 50px;
  color: #4285F4;
}

.top {
  margin-top: 12px;
  font-family: "Arial", sans-serif;
  font-size:14px;
}
.top-left {
  //
  float:left;
  margin-left:20px;
}
.top-right{
  float:right;
  margin-right: 20px;
}
.logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Bar {
  background-color: white;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
  width: 500px;
  border-radius: 30px;

}
.imageSearchBar {
  background-color: white;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
  width: 500px;
  border-radius: 30px;

}
.searchButtons{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 700px;
  font-size: 14px;
  font-family: arial,sans-serif;
  color:#202124;
}
.space{
  width:40px;
}
.search-icon{
  position: relative;
  right: -230px;
  padding-right: 10px;
  top: -11px;
  color: #4285F4;
}
#inputBox{
  width:600px;
  height: 40px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:4px;
  border-radius: 20px;
  position: absolute;
  border: solid 1px lightgrey;
  transform: translate(-50%,-50%);

}
#icon{

  left: -60px;
  position: absolute;
  height: 25px;
}
#aka{
  display: flex;
  justify-content: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;

}
#okay{
  position: relative;
  left: -290px;
  padding-left: 10px;
  top: -11px;
  color: grey;

}
